.container{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.tabNav{
  display:flex;
}

.tabNavItem{
  padding:7px 10px 10px;
  border:1px solid #000;
  border-radius:5px 5px 0 0;
}

.tabContent{
  padding:10px;
  border:1px solid #000;
  border-radius:0 0 10px 10px;
}